
.navbar-brand{
    font-weight: 700;
    letter-spacing: 3;
}



.card .view a{
    font-size: 10px;
}
#total-cases-worldwide{
    font-size: 6rem;
}
#total-cases-worldwide-confirmed{
    font-size: 1.5rem;
}
th img{
    width: 25px;
    height: auto;
}



@media(max-width :768px){
    html{
        font-size: 11px;
    }
    #total-cases-worldwide{
        font-size: 4rem;
    }
}