h1{
    font-weight: 700;
    
}

.navbar-brand{
    font-weight: 700;
    letter-spacing: 3;
}

@media(max-width :768px){
    html{
        font-size: 12px;
    }
}

.card .view a{
    font-size: 10px;
}